.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.mainContainer {
  display: flex;
  width: 100vw;
  flex-direction: row;
}

.sidebar {
  background-color: red;
  flex: 0 0 10%;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.top {
  background-color: purple;
  flex: 0 0 10%;
}

.bottom {
  display: flex;
  flex: 1;
}

.bottom-left {
  background-color: pink;
  width: 192px;
  flex-shrink: 0;
}

.bottom-right {
  background-color: black;
  flex: 1;
}

.sendHomework {
  margin: 20px 0px;
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 5%;
}

.sendHomework:hover {
  background: rgb(168, 138, 138);
}

.accordion-button:not(.collapsed),
.sendHomework {
  background: #941916 !important;
  color: white !important;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2) !important;
}
